.graph-container {
  width: 92vw;
  height: 75vh;
  background-color: #131821;
  position: relative;
  top: 4vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  border: 2px solid #ff005d;
  z-index: 0;
  pointer-events: auto;
}

.cy-container {
  width: 92vw;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: auto;
}
