/* Css for node rendering section */

:root {
  --graphWidth: 170vh;
  --graphHeight: 90vh;
}
/* graph background area*/
.graph-container {
  width: var(--graphWidth);
  height: var(--graphHeight);
  background-color: #131821;
  position: relative;
  top: 2vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  border: 2px solid #ff005d;
  z-index: 0;
  pointer-events: auto;
}

/* graph for ground area */
.cy-container {
  width: var(--graphWidth);
  height: var(--graphHeight);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: auto;
}
