.menu-container {
    position: absolute;
    top: 13vh;
    left: 10px;
    z-index: 10;
  }
  
  .menu-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    width: 300px;
    height: 70vh;
    background: var(--pencil);
    padding: 15px;
    border-radius: 5px;
    color: var(--punkpink);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }
  
  .heading {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .input,
  .textarea,
  .select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    background-color: var(--graphite);
    color: var(--punkpink);
  }
  
  .textarea {
    height: 30vh;
  }
  
  .select {
    width: 100%;
  }
  
  .create-button {
    width: 100%;
    padding: 12px;
    background-color: var(--graphite);
    color: var(--punkpink);
    border: solid;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .import-label {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--graphite);
    color: var(--punkpink);
    border: solid;
    border-radius: 2px;
  }
  
  .import-input {
    display: none;
  }
  
  .import-label.pdf {
    background-color: var(--graphite);
    color: var(--punkpink);
  }

  .import-label.docx {
    background-color: var(--graphite);
    color: var(--punkpink);
  }

  .input:focus {
    background-color: #282c34;
    color: antiquewhite;
    outline: none;
    transition: color 2.0s ease, background-color 2.0 ease;
  }
  .dropdown::-webkit-scrollbar {
    width: 8px;
  }
  .dropdown::-webkit-scrollbar-track {
    background: #1f1e27; 
    border-radius: 0px;
  }
  
  .dropdown::-webkit-scrollbar-thumb {
    background: #ff005d;
    border-radius: 2px;
    transition: background-color 3.0s ease;
  }
  
  .dropdown::-webkit-scrollbar-thumb:hover {
    background: antiquewhite; /* Lighter on hover */
    transition: background-color 3.0s ease;
  }