.input,
.textarea,
.add-tag-input,
.create-button,
.close-button,
.save-button,
.delete-button,
.unlink-button,
.export-button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
}
.edit-note{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px; 
}
.input,
.add-tag-input {
  border: 1px solid #ccc;
}

.textarea {
  height: 100px;
  resize: none;
}

.save-button {
  background-color: var(--graphite);
  color: var(--punkpink);
  border: 3px solid;
}
.close-button {
  background-color: var(--graphite);
  color: var(--punkpink);
  border: 3px solid;
}
.delete-button {
  background-color: var(--punkpink);
  color: var(--graphite);
  border: 3px solid;
}

.unlink-button {
  background-color: var(--graphite);
  color: var(--punkpink);
}

.export-button {
  background-color: var(--graphite);
  color: var(--punkpink);
  border: 3px solid;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.pdf-export {
  background-color: var(--graphite);
}

.docx-export {
  background-color: var(--graphite);
}

.tags-container {
  margin-bottom: 10px;
  width: 100%;
}

.tags-label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
  color: #ff005d;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 5px;
}

.tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: var(--graphite);
  color: var(--punkpink);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.delete-tag-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--punkpink);
  color: var(--graphite);
  border: none;
  border-radius: 50%;
  font-size: 12px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0;
}

.tag:hover .delete-tag-btn {
  display: flex;
}

.tag input {
  background: transparent;
  border: none;
  background-color: var(--graphite);
  color: var(--punkpink);
  width: auto;
  max-width: 100px;
  font-size: 12px;
  outline: none;
}

.tag-input-wrapper {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.add-tag-input {
  background-color: var(--graphite);
  color: var(--punkpink);
  border: 3px solid;
}

.drag-handle {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--graphite);
  color: var(--punkpink);
  padding: 6px;
  text-align: center;
  cursor: move;
  font-weight: bold;
  border-bottom: 1px solid #444;
  user-select: none;
  margin-bottom: 10px;
}

.note-preview {
  position: absolute;
  background-color: var(--pencil);
  color: var(--punkpink);
  border: 3px solid;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.note-title {
  text-align: center;
  font-size: 18px;
  color: #ff005d;
  font-weight: bold;
  margin-bottom: 10px;
}

.rich-editor {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
