@import url("Custom.css");

.Page-header{
    color: var(--punkpink);
    background-color: var(--pencil);
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    min-height: 5vh;
    z-index: 12;
}
p{
    display: flex;
    justify-content: center;

}